version: '3.8'

services:
  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    command: 
      - "http"
      - "host.docker.internal:32768"
      - "--authtoken=34f17w1pLrMyA8GyiYMMLrYE7kE_2EmBM8Fcr1ZJQp7eTzhMj"
      - "--log=stdout"
    ports:
      - "4040:4040"
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

